<section>
  <%if (typeof user !== 'undefined') { %>
    <div>
      <b>Logged in as: </b>
      <span><%= user.username %></span>
    </div>
    <a href="/logout">Log out</a>
  <% } else {%>
    <div>
      <a href="/login">Log in</a>
    </div>
  <% } %>
</section>
