<section>
  <%=_("Welcome to my site!")%>
</section>
<section>
  <%if (typeof user !== 'undefined') { %>
    <div>
      <b>Logged in as: </b>
      <span><%= user.username %></span>
    </div>
  <% } else {%>
    <div>
      <a href="/login">Log in</a>
    </div>
  <% } %>
</section>
